.o-input {
  width: 100%;
  max-width: 600px;
  font-size: 0;

  .o-icon {
    vertical-align: middle;
  }
}

.o-input__field {
  @include transition-curve();
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid $color_gray;
  -webkit-appearance: none;
  font-size: 1rem;
  padding: .25rem;
  position: relative;

  &:focus {
    border-color: $color_blue;
  }

  .o-input--has-icon & {
    width: calc(100% - 2rem);
  }
}
