@mixin button-variant($name, $color) {
  .o-button--#{$name} {
    border-color: $color;
    color: $color;

    .o-icon svg {
      fill: $color;
    }

    &:hover {
      border-color: $color;
      background-color: $color;
    }
  }
}

.o-button {
  @include transition-curve(.25s);
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
  box-shadow: 0;
  text-align: center;
  border: 2px solid $color_blue;
  color: $color_blue;
  background-color: transparent;
  padding: .35rem 1.5rem;
  transform: translateY(0);
  cursor: pointer;
  text-transform: uppercase;
  position: relative;

  &:hover {
    background-color: $color_blue;
    color: $color_white;

    .o-icon svg {
      fill: $color_white;
    }
  }

  .o-icon {
    vertical-align: top;
    width: 1rem;
    height: 1rem;
    margin-right: .05rem;

    svg {
      fill: $color_blue;
    }
  }

  &[disabled] {
    background-color: $color_gray_lighter;
    border-color: $color_gray_lighter;
    color: $color_gray;

    .o-icon svg {
      fill: $color_gray;
    }
  }
}

@include button-variant("save", $color_green);
@include button-variant("destroy", $color_red);

.o-button--cancel {
  border-color: transparent;
  color: $color_red;

  &:hover {
    border-color: $color_red;
    background-color: $color_red;
  }
}

.o-button-group {
  margin: .5rem 0;

  .o-button {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.o-button-group--dynamic {
  height: 40px;
  overflow: hidden;

  &.alt-showing {
    .o-button {
      transform: translateY(-40px);
    }
  }

  .new-entry & {
    .o-button {
      transform: translateY(-40px);
    }
  }
}
