.o-input {
  width: 100%;
  font-size: 0;
  margin-bottom: 1rem;
  display: inline-block;

  .o-icon {
    vertical-align: middle;
  }

  ::placeholder {
      color: $color_gray;
      -webkit-text-fill-color: $color_gray;
      opacity: 1;
  }

  :-ms-input-placeholder {
      color: $color_gray;
  }

  ::-ms-input-placeholder {
      color: $color_gray;
  }
}

.o-input__label {
  font-size: .85rem;
  color: $color_gray;
}

.o-input__field {
  @include transition-curve();
  background-color: transparent;
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid $color_gray;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 1rem;
  padding: .25rem;
  position: relative;
  min-height: 33px;
  color: $color_text;

  &:focus {
    border-color: $color_blue;
  }

  .o-input--has-icon & {
    width: calc(100% - 2rem);
  }

  &[readonly], &[readonly="true"], &[disabled] {
    border-color: $color_gray_lightest;
    border-style: dashed;
    color: $color_text;
    opacity: 1;
    user-select: none;
    -webkit-text-fill-color: $color_text;
  }

}

.o-input--false-placeholder {
  position: fixed;
  top: -999px;
  left: -9999px;
}

.o-input--search {
  max-width: 400px;
}
