.o-input {
  width: 100%;
  font-size: 0;
  margin-bottom: 1rem;
  display: inline-block;

  .o-icon {
    vertical-align: middle;
  }
}

.o-input__label {
  font-size: .85rem;
  color: $color_gray;
}

.o-input__field {
  @include transition-curve();
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid $color_gray;
  -webkit-appearance: none;
  font-size: 1rem;
  padding: .25rem;
  position: relative;
  min-height: 33px;

  &:focus {
    border-color: $color_blue;
  }

  .o-input--has-icon & {
    width: calc(100% - 2rem);
  }

  &[contenteditable]:empty:before {
    content: attr(placeholder);
    display: block;
    font-style: italic;
    color: $color_gray;
  }

  &[contenteditable="false"] {
    border-color: $color_gray_lightest;
    border-style: dashed;
  }
}
