///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

html {
  touch-action: manipulation;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: $color_text;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-main {
  width: 100%;
  height: 100%;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}
