{% extends "layout.njk" %}

{% block content %}

  {% macro formInput(label, field, customClasses) %}
    <div class="o-input  o-input--text  {{customClasses}}">
      <label class="o-input__label">{{label}}{% if field == "first_name" %} *{% endif %}</label>
      <div class="o-input__field" data-form-field="{{field}}" contenteditable="false" placeholder="{{label}}"></div>
    </div>
  {% endmacro %}

  {% set states = [
    "Alabama",
    "Alaska",
    "Arizona",
    "Arkansas",
    "California",
    "Colorado",
    "Connecticut",
    "Delaware",
    "Florida",
    "Georgia",
    "Hawaii",
    "Idaho",
    "Illinois",
    "Indiana",
    "Iowa",
    "Kansas",
    "Kentucky",
    "Louisiana",
    "Maine",
    "Maryland",
    "Massachusetts",
    "Michigan",
    "Minnesota",
    "Mississippi",
    "Missouri",
    "Montana",
    "Nebraska",
    "Nevada",
    "New Hampshire",
    "New Jersey",
    "New Mexico",
    "New York",
    "North Carolina",
    "North Dakota",
    "Ohio",
    "Oklahoma",
    "Oregon",
    "Pennsylvania",
    "Rhode Island",
    "South Carolina",
    "South Dakota",
    "Tennessee",
    "Texas",
    "Utah",
    "Vermont",
    "Virginia",
    "Washington",
    "West Virginia",
    "Wisconsin",
    "Wyoming"]
  %}

  <div class="c-app-header">
    <h5 class="o-heading  u-text-align--center  u-no-margin"><small>Assistant (to the)</small></h5>
    <h3 class="o-heading  o-heading--page-title  u-text-align--center  u-uppercase">Contact Manager</h3>

    <div class="c-menu">
      <div class="c-menu__inner">
        <div class="c-menu__section">
          <div class="c-menu__section__inner">
            <div class="o-button-group  u-text-align--center">
              <button type="button" class="o-button  js-download-csv">
                <div class="o-icon  o-icon--download"><svg class="o-icon__svg"><use xlink:href="#o-icon--download"></use></svg></div>
                Download
              </button>
              <button type="button" class="o-button  js-modal-trigger" data-modal-id="contact-upload">
                <div class="o-icon  o-icon--upload"><svg class="o-icon__svg"><use xlink:href="#o-icon--upload"></use></svg></div>
                Upload
              </button>
            </div>
            <div class="c-menu__reset  o-icon  o-icon--chevron-down  js-reset-menu"><svg class="o-icon__svg"><use xlink:href="#o-icon--chevron-down"></use></svg></div>
          </div>
        </div>

        <div class="c-menu__section">
          <div class="c-menu__section__inner">
            <div class="o-icon  o-icon--button  o-icon--search  o-icon--inline  js-show-search"><svg class="o-icon__svg"><use xlink:href="#o-icon--search"></use></svg></div>
            <div class="o-icon  o-icon--button  o-icon--user-add  o-icon--inline  js-add-contact"><svg class="o-icon__svg"><use xlink:href="#o-icon--user-add"></use></svg></div>
            <div class="o-icon  o-icon--button  o-icon--sort  o-icon--inline  js-modal-trigger" data-modal-id="sort"><svg class="o-icon__svg"><use xlink:href="#o-icon--sort"></use></svg></div>
            <div class="o-icon  o-icon--button  o-icon--cloud-outline  o-icon--inline  js-show-file-manager"><svg class="o-icon__svg"><use xlink:href="#o-icon--cloud-outline"></use></svg></div>
          </div>
        </div>

        <div class="c-menu__section">
          <div class="c-menu__section__inner">
            <div class="c-menu__reset  c-menu__reset--up  o-icon  o-icon--chevron-down  js-reset-menu"><svg class="o-icon__svg"><use xlink:href="#o-icon--chevron-down"></use></svg></div>
            <div class="o-input  o-input--has-icon  o-input--search">
              <div class="o-icon  o-icon--search  o-icon--no-hover"><svg class="o-icon__svg"><use xlink:href="#o-icon--search"></use></svg></div>
              <input type="text" class="o-input__field  js-contact-search" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-app-header__table-headers">
      <h5 class="c-app-header__table-headers__header">Name</h5>
      <h5 class="c-app-header__table-headers__header">Company</h5>
    </div>
  </div>

  <div class="c-dynamic-table">
    <div class="c-dynamic-table__body"></div>
  </div>

  <div class="c-modal  c-modal--full" data-modal-id="contact-form">
    <div class="c-modal__inner">
      <div class="o-icon  o-icon--close  js-close-modal"><svg class="o-icon__svg"><use xlink:href="#o-icon--close"></use></svg></div>
      <form class="c-form  js-contact-form" method="post">
        <div class="c-form__header">
          <h3 class="c-modal__inner__header">View Contact</h3>
          <input data-form-field="id" type="hidden" class="js-current-contact">
          <div class="o-button-group  o-button-group--dynamic    u-text-align--center">
            <button type="button" class="o-button  o-button--update  js-contact-edit">
              <div class="o-icon  o-icon--edit"><svg class="o-icon__svg"><use xlink:href="#o-icon--edit"></use></svg></div>
              Edit
            </button>
            <button type="button" class="o-button  o-button--destroy  js-contact-destroy">
              <div class="o-icon  o-icon--trash"><svg class="o-icon__svg"><use xlink:href="#o-icon--trash"></use></svg></div>
              Delete
            </button>
            <br>
            <button type="button" class="o-button  o-button--save  js-contact-save">
              <div class="o-icon  o-icon--check"><svg class="o-icon__svg"><use xlink:href="#o-icon--check"></use></svg></div>
              Save
            </button>
            <button type="button" class="o-button  o-button--cancel  js-contact-cancel">
              Cancel
            </button>
          </div>
        </div>
        <div class="c-form__body">
          <div class="o-layout">
            <div class="o-layout__item  u-1/1  u-1/2@mobile">
              {{ formInput("First Name", "first_name", "o-input__field--contenteditable")}}
            </div>
            <div class="o-layout__item  u-1/1  u-1/2@mobile">
              {{ formInput("Last Name", "last_name", "o-input__field--contenteditable")}}
            </div>
          </div>
          {{ formInput("Company", "company_name", "o-input__field--contenteditable")}}
          {{ formInput("Phone", "phone", "o-input__field--contenteditable")}}
          {{ formInput("Email", "email", "o-input__field--contenteditable")}}
          {{ formInput("Website", "url", "o-input__field--contenteditable")}}
          {{ formInput("Address", "address", "o-input__field--contenteditable")}}
          {{ formInput("City", "city", "o-input__field--contenteditable")}}
          <div class="o-layout">
            <div class="o-layout__item  u-1/1  u-1/2@mobile">
              <div class="o-input  o-input--select">
                <label class="o-input__label">State</label>
                <select class="o-input__field" name="state" disabled data-form-field="state">
                  <option value="">None Selected</option>
                  {% for state in states -%}
                    <option value="{{ state }}">{{ state }}</option>
                  {%- endfor %}
                </select>
              </div>
            </div>
            <div class="o-layout__item  u-1/1  u-1/2@mobile">
              {{ formInput("Zip", "zip", "o-input__field--contenteditable")}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="c-modal" data-modal-id="contact-upload">
    <div class="c-modal__inner">
      <div class="o-icon  o-icon--close  js-close-modal"><svg class="o-icon__svg"><use xlink:href="#o-icon--close"></use></svg></div>
      <h3 class="c-modal__inner__header">Upload Contacts</h3>
      <p class="u-text-align--center">Upload a CSV file <span class="u-nowrap">with contact info</span>.</p>
      <div class="c-upload-box">
        <label for="contact-upload" class="c-upload-box__label  js-upload-box">
          <div class="c-upload-box__icon  o-icon  o-icon--upload"><svg class="o-icon__svg"><use xlink:href="#o-icon--upload"></use></svg></div>
          <h5 class="o-heading">Click/Tap or Drag File Here</h5>
        </label>
        <input id="contact-upload" multiple="false" type="file" name="contact_upload" class="c-upload-box__input">
      </div>
    </div>
  </div>

  <div class="c-modal" data-modal-id="sort">
    <div class="c-modal__inner">
      <div class="o-icon  o-icon--close  js-close-modal"><svg class="o-icon__svg"><use xlink:href="#o-icon--close"></use></svg></div>
      <h3 class="c-modal__inner__header">Sort Options</h3>
      <div class="o-layout">
        <div class="o-layout__item  u-1/2@tablet">
          <div class="o-input  o-input--select">
            <label class="o-input__label">Field to Sort By</label>
            <select class="o-input__field  js-sort-field">
              <option value="first_name">First Name</option>
              <option value="last_name" selected>Last Name</option>
              <option value="company_name">Company Name</option>
            </select>
          </div>
        </div>
        <div class="o-layout__item  u-1/2@tablet">
          <div class="o-input  o-input--select">
            <label class="o-input__label">Sort Order</label>
            <select class="o-input__field  js-sort-order">
              <option value="false" selected>Ascending</option>
              <option value="true">Descending</option>
            </select>
          </div>
        </div>
      </div>
      <div class="u-text-align--center">
        <button class="o-button  js-sort">Apply Selection</button>
      </div>
    </div>
  </div>

  </div>

{% endblock %}
