{% extends "layout.njk" %}

{% block content %}

  {% macro formInput(label, field, customClasses) %}
    <div class="o-input  {{customClasses}}">
      <label class="o-input__label">{{label}}</label>
      <div class="o-input__field" data-form-field="{{field}}" contenteditable="false" placeholder="{{label}}"></div>
    </div>
  {% endmacro %}

  <div class="c-app-header">
    <h5 class="o-heading  u-text-align--center  u-no-margin"><small>Assistant (to the)</small></h5>
    <h3 class="o-heading  o-heading--page-title  u-text-align--center  u-uppercase">Contact Manager</h3>

    <div class="o-icon-group  o-icon-group--dynamic">
      <div class="o-icon-group--dynamic__section">
        <div class="o-icon  o-icon--search  o-icon--inline  o-icon--rounded  o-icon--bordered  js-show-search"><svg class="o-icon__svg"><use xlink:href="#o-icon--search"></use></svg></div>
        <div class="o-icon  o-icon--user-add  o-icon--inline  o-icon--rounded  o-icon--bordered  js-add-contact"><svg class="o-icon__svg"><use xlink:href="#o-icon--user-add"></use></svg></div>
        <div class="o-icon  o-icon--more  o-icon--inline  o-icon--rounded  o-icon--bordered  js-show-more"><svg class="o-icon__svg"><use xlink:href="#o-icon--more"></use></svg></div>
      </div>
      <div class="o-icon-group--dynamic__section">
        <div class="c-search  o-icon-group--dynamic__section__search">
          <div class="o-input  o-input--has-icon  c-search__input">
            <div class="o-icon  o-icon--search"><svg class="o-icon__svg"><use xlink:href="#o-icon--search"></use></svg></div>
            <input type="text" class="o-input__field  js-contact-search" placeholder="Search">
          </div>
          <button class="o-button  o-button--cancel  c-search__cancel  js-reset-menu">cancel</button>
        </div>

        <div class="o-icon-group--dynamic__section__more">
          <div class="o-icon  o-icon--download  o-icon--inline  js-download-csv"><svg class="o-icon__svg"><use xlink:href="#o-icon--download"></use></svg></div>Download
        </div>
      </div>
    </div>
  </div>

  <div class="c-dynamic-table">
    <div class="c-dynamic-table__headings">
      <h5 class="c-dynamic-table__headings__heading  o-heading  u-uppercase">Name</h5>
      <h5 class="c-dynamic-table__headings__heading  o-heading  u-uppercase">Company</h5>
    </div>

    <div class="c-dynamic-table__body"></div>
  </div>

  <div class="c-modal" data-modal-id="contact-form">
    <div class="c-modal__inner">
      <form class="c-form  js-contact-form" method="post">
        <div class="o-icon  o-icon--close  js-close-modal"><svg class="o-icon__svg"><use xlink:href="#o-icon--close"></use></svg></div>
        <div class="c-form__header">
          <h3 class="js-contact-form-header  u-text-align--center">View Contact</h3>
          <input data-form-field="id" type="hidden" class="js-current-contact">
          <div class="o-button-group  o-button-group--dynamic    u-text-align--center">
            <button type="button" class="o-button  o-button--update  js-contact-edit">
              <div class="o-icon  o-icon--edit"><svg class="o-icon__svg"><use xlink:href="#o-icon--edit"></use></svg></div>
              Edit
            </button>
            <button type="button" class="o-button  o-button--destroy  js-contact-destroy">
              <div class="o-icon  o-icon--trash"><svg class="o-icon__svg"><use xlink:href="#o-icon--trash"></use></svg></div>
              Delete
            </button>
            <br>
            <button type="button" class="o-button  o-button--save  js-contact-save">
              <div class="o-icon  o-icon--check"><svg class="o-icon__svg"><use xlink:href="#o-icon--check"></use></svg></div>
              Save
            </button>
            <button type="button" class="o-button  o-button--cancel  js-contact-cancel">
              Cancel
            </button>
          </div>
        </div>
        <div class="c-form__body">
          <div class="o-layout">
            <div class="o-layout__item  u-1/1  u-1/2@mobile">
              {{ formInput("First Name", "first_name")}}
            </div>
            <div class="o-layout__item  u-1/1  u-1/2@mobile">
              {{ formInput("Last Name", "last_name")}}
            </div>
          </div>
          {{ formInput("Company", "company_name")}}
          {{ formInput("Phone", "phone")}}
          {{ formInput("Email", "email")}}
          {{ formInput("Website", "url")}}
          {{ formInput("Address", "address")}}
          {{ formInput("City", "city")}}
          <div class="o-layout">
            <div class="o-layout__item  u-1/1  u-1/2@mobile">
              {{ formInput("State", "state")}}
            </div>
            <div class="o-layout__item  u-1/1  u-1/2@mobile">
              {{ formInput("Zip", "zip")}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
