.c-dynamic-table {
  height: calc(100% - 158px);
  position: relative;
}

.c-dynamic-table__headings {
  font-size: 0;
  border-bottom: 1px solid $color_gray;
  padding: .5rem .75rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color_white, .95);
  z-index: 2;
}

.c-dynamic-table__headings__heading {
  width: 50%;
  background-color: rgba($color_white, .95);
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  z-index: 2;
}

.c-dynamic-table__body {
  padding-top: 37px;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  position: relative;
  -webkit-overflow-scrolling: touch;

  padding-top: 194px;
  height: 100vh;
  overflow-y: auto;
  z-index: 1;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
  max-width: 800px;
  margin: auto;
}

.c-dynamic-table__body__row {
  @include transition-curve();
  font-size: 0;
  padding: .5rem .25rem;
  cursor: pointer;
  transform: scale(.98);

  &:nth-child(even) {
    background-color: rgba($color_blue, .05);
  }

  &:hover, &.is-selected {
    background-color: $color_blue;
    color: $color_white;
    transform: scale(1);
  }

  &.is-hidden {
    display: none;
  }
}

.c-dynamic-table__body__row__item {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
