.c-dynamic-table {
  height: calc(100% - 159px);

  @include mq($from: 'tablet') {
    height: calc(100% - 168px);
  }
}

.c-dynamic-table__headings {
  font-size: 0;
  border-bottom: 1px solid $color_gray;
  padding: .5rem .75rem;
}

.c-dynamic-table__headings__heading {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.c-dynamic-table__body {
  height: 100%;
  overflow-y: auto;
}

.c-dynamic-table__body__row {
  @include transition-curve();
  font-size: 0;
  padding: .5rem .25rem;
  background-color: $color_gray_lighter;
  cursor: pointer;
  transform: scale(.98);

  &:nth-child(even) {
    background-color: $color_gray_lightest;
  }

  &:hover, &.is-selected {
    background-color: $color_blue_light;
    transform: scale(1);
  }

  &:focus, &:active, &.is-selected {
    background-color: $color_blue;
    color: $color_white;
  }

  &.is-hidden {
    display: none;
  }
}

.c-dynamic-table__body__row__item {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
