.c-dynamic-table {
  padding-top: 188px;
  max-width: 800px;
  padding-bottom: 50px;
}

.c-dynamic-table__body__row {
  @include transition-curve();
  font-size: 0;
  padding: .5rem .25rem;
  cursor: pointer;
  transform: scale(.98);

  &:nth-child(even) {
    background-color: rgba($color_blue, .05);
  }

  &:hover, &.is-selected {
    background-color: $color_blue;
    color: $color_white;
    transform: scale(1);
  }

  &.is-hidden {
    display: none;
  }
}

.c-dynamic-table__body__row__item {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
