.c-modal {
  @include transition-curve();
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color_blue_dark, .8);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  &.is-active {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
}

.c-modal__inner {
  @include transition-curve();
  width: 90%;
  max-width: 640px;
  max-height: calc(90% - 15vh);
  background-color: $color_white;
  position: absolute;
  margin: 0 auto;
  transform: translateY(10%);
  top: 15vh;
  left: 0;
  right: 0;
  margin: auto;
  padding: .5rem;
  box-shadow: 0 2px 8px 1px $color_black;
  outline: 15px solid rgba($color_gray_dark, .75);

  @include mq($from: 'tablet') {
    padding: 1.5rem;
  }

  .c-modal.is-active & {
    transform: translateY(0);
  }

  .o-icon--close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    z-index: 3;

    &:hover {
      background-color: $color_gray_lighter;
    }

    svg {
      fill: $color_red;
    }
  }
}

.c-modal__inner__header {
  margin-bottom: 1rem;
  text-align: center;
}
